<h1>Welcome to the ALL Response View</h1>
<p>If you got here, this means you didn't specipify the response type to get</p>

<h2>The response in JSON format</h2>
<code>
    <%= @res.to_json %>
</code>
<br/>
<h2>The response in XML format</h2>
<code>
    <%= @res.to_xml %>
</code>
