<h1>Welcome to response type of 'View'</h1>
<br/>

<hr/>

<p>Title from instance variable</p>
<br/>
<code><%=@title %></code>

<hr/>

<p>Description from instance variable</p>
<br/>
<code><%=@desc %></code>
