<p id="notice"><%= notice %></p>
<main id="view">
  <header class="d-block w-100">
    <h2 class="text-center">Trainer: <%=@trainer.name %> </h2>
  </header>
</main>
<script>
  const model = "<%=@trainer.to_json %>";
</script>
<script src="/comps/trainer.js"></script>